.navIcon{
    padding: 5px;
}
.homeNavIcon{
    width: 22px;
    height: 22px;
}

.courseNavIcon{
    width: 28px;
    height: 22px;
}
.teachNavIcon{
    width: 51px;
    height: 22px;
}
.profileNavIcon{
    width: 23px;
    height: 22px;
}
.addNavIcon{
    width: 22px;
    height: 22px;
}

.likeAndDislikeIcon{
    width: 40px;
    height: 40px;
}
.backArrow {
    margin: 16px 0 12px 16px;
    width: 25px;
    height: 45px;
}
.thumb {
    height: 60px;
    margin-bottom: 10px;
}
.addComment {
    height: 30px;
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 20px;
    margin-bottom: 5px;
}