body.portal{
    height: 100%;
    background-color: white;
}

.portalContainer{
    width: 100%;
}

/*
 *
 * Portallist style
 * --------------------------------------------------------------
 */


.portalList{
    margin-top: 72px;
    margin-bottom: 75px;
    padding: 0;
    list-style-type: none;

}

.portalList ul li {
    display:table-cell;

}

.portalList li {
    display: flex;
    padding: 10px;
    margin: 5px;
    color: black;
    border: 1px #2F80ED solid;
    border-radius: 25px;

}

/*
 *
 * Portallist home style
 * --------------------------------------------------------------
 */

 ul.reviueHomeul{
    margin-top: 115px;
    padding: 0;
    list-style-type: none;
}

li.reviueHomeli{
    padding: 5px;
    margin: 5px;
    color: black;
    border: 1px #2F80ED solid;
    border-radius: 25px;
}

 .liHomeLeftside{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }
 .liHomeRightside{
     flex: 1;
     max-width: 150px;
     text-align: center;
 }

 .liCourseHome{
     font-size: 18px;
     margin-left: 10px;
 }

 .liHomeFooter{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-around;
    text-align: center;
    align-content: flex-end;
    margin-top: auto;
 }
 .liNum{
     font-size: 18px;
     opacity: 0.7;

 }

 .liRead{
     font-size: 10px;
     opacity: 0.6;
 }




/*
 *
 * Portallist course style
 * --------------------------------------------------------------
 */


.liLeftside{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

 }
 .liCourse{
     font-size: 16px;
     margin-left: 10px;
 }

 .liTeachForm{
     font-size: 14px;
     opacity: 0.6;
     margin-left: 10px;
 }

 .liCourseFooter{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-around;
    text-align: center;
    align-content: flex-end;
    margin-top: auto;
 }
 .liRightside{
     text-align: center;
     flex: 1;
     max-width: 150px;

 }

 .liAvgHeader{
    font-size: 16px;
 }

 .liAvgScore{
     font-size: 36px;
     color: orange;
 }

 .courseNavLink{
    font-size: 14px;
    text-decoration:  none;
    opacity: 0.6;

 }
 .courseNavLink:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    color:            black;

    }



.columnHeader{
    display: flex;
    justify-content: space-between;
    height: 30px;
    color: black;
}

.header{
    display: flex;
    background-color: #2F80ED;
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 999;
    text-align: center;
    height: 65px;
}

h1.headerText{
    color: white;
    font-family: Roboto;
    text-align: center;
    font-weight: lighter;
    font-size: 32px;
    margin: 8px 0 0 16px;
    padding: 0;
}


h1{
    color: black;
    /* font-weight: bold; */
    font-size: 42px;
    margin-left: 34px;
    margin-top: 24px;
}

h1.back{
    color: black;
    font-size: 42px;
    margin-left: 8px;
    margin-top: 24px;
}

.signOutContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 24px;
    flex-grow: 1;
}

button.signOut{
    background-color: #2F80ED;
    color: white;
    font-family: Roboto;
    font-size: 25px;
    width: 160px;
    height: 46px;
    border-radius: 45px 0 0 45px;
    border-right: none;
}

.footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

*:focus {
    outline: none;
}



.filter-list{
    margin: 14px 0px 14px 0px;
    width: 100%;
    text-align: center;
}

input.searchbar{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    width: 90%;
    display: inline-block;
    border: 0;
    border-radius: 25px;
    text-indent: 10px;
}

input.searchbar{

}
