.reviewContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

hr.review {
    height: 10px;
    border: 0;
    width: 100%;
    margin-top: 5px;
    box-shadow: 0 10px 10px -10px #2F80ED inset;
}

h2 {
    font-family: roboto;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.courseName {
    font-weight: normal;
    font-size: 22px;
    margin-top: 5px;
}

.teacherName {
    font-weight: lighter;
    font-size: 20px;
}

.attributesStyle {
    font-weight: lighter;
    font-size: 20px;
}

.gradedScaleBody {
    display: flex;
    width: 300px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 45px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.leftScaleItem {
    border-radius: 45px 0 0 45px;
    border-right: 1px solid #000000;
    width: 20%;
    height: 100%;
}

.middleScaleItem {
    border-right: 1px solid #000000;
    width: 20%;
    height: 100%;
}

.rightScaleItem {
    border-radius: 0 45px 45px 0;
    width: 20%;
    height: 100%;
}

.scaleItemFilled {
    background-color: #2F80ED;
}

.radioWhiteBoarder {
    background-color: 0;
    border: 1px solid #ffffff;
    border-radius: 45px;
    width: 16px;
    height: 16px;
}

.radioTrue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 45px;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.radioFalse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #2F80ED;
    border-radius: 45px;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.reviewText {
    font-family: roboto;
    font-weight: lighter;
    color: #000000;
    margin: 5px 15px 10px 15px;
}

.commentEmail {
    display: inline-block;
    font-family: roboto;
    font-weight: normal;
    color: #000000;
    margin: 5px 15px 10px 15px;
}

.commentDate {
    float: right;
    font-family: roboto;
    font-weight: normal;
    color: #000000;
    margin: 5px 15px 10px 15px;
}

.new-comment {
    display: 1;
    border: 1px solid #2F80ED;
    border-radius: 5px;
    font-size: 13px;
    width: 100%;
}

.user-comments {
    float: center;
    margin-bottom: 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-submit {
    background-color: #2F80ED;
    color: white;
    height: 45px;
    width: 100px;
    border-radius: 45px;
    font-size: 18px;
    fill: solid;
    align-self: center;
    margin-top: 5px;
}

.user-comments-container {
    position: relative;
    width: 100%
}

.select-text {
    margin-bottom: 2px;
    font-weight: lighter;
    font-size: 20px;
}

form.new-review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 65px;
}

textarea.text-review {
    display: 1;
    border: 1px solid #2F80ED;
    border-radius: 5px;
    font-size: 13px;
    width: 90%;
    margin-bottom: 5px;
    text-indent: 5px;
}

input.teacher-name {
    display: 1;
    border: 1px solid #2F80ED;
    border-radius: 5px;
    font-size: 13px;
    height: 35px;
    width: 80%;
    text-indent: 8px;
    margin-bottom: 5px;
}

.radioSelectContainer {
    display: flex;
}

.radioSelectItem {
    margin: 0 15px 0 15px;
}

.radioText {
    font-family: roboto;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}